.navbar{
    height: 100px;
    width: 100%;
    position: fixed;
    z-index: 99;
    /* background-color: violet; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 2vw;
}
.nav-left{
    height: 100%;
    width: 10%;
    /* background-color: blue; */
    display: flex;
    justify-content: center;
    align-items: center;
}
.logo{
    height: 70px;
    width: 70px;
}
.nav-right{
    height: 100%;
    width: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 70px;
    /* background-color: red; */
}
a{
    text-decoration: none;
    color: black;
    font-size: 18px;
}